body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

header {
  display:flex;
  justify-content: flex-end;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(0, 0, 0);
  margin: 0 10px;

}

nav a:hover {
  color: rgb(179, 0, 0);
}

main {
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

h1 {
  text-align: center;
}

p{
  text-align: justify;
}

/* Home page columns */
.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.column {
  flex: 1;
  min-width: 250px;
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: black;
  color: white;
}

/* Gallery */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1cm;
}
.gallery img {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
}

/* Form */
form {
  background-color: #e0f0ff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}
.btn-green {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

/* Author page */
.team-list {
  border: 2px solid #333;
  padding: 10px;
  width: fit-content;
  margin: 0 auto 20px auto;
  font-weight: bold;
}